* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}
/* Root header title */
header {
    padding: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
    padding-top: 15px;
    margin-right: 20px;
    width: 100%;
    
}

header h1 {
    display: inline-block;
    font-size: 48px;
    float: left;
    padding-top: 12px;
}

header h1 .seo {
    color: #d9dcd6;
}
/* added nav to reduce redunancy */
/* header navigation bar */
header nav {
    list-style-type: none;
    text-align: right;
}

header nav a {
    display: inline-block;
    margin-left: 25px;
    padding-top: 30px;
    font-size: 20px;
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}
/* Website main img */
.hero {
    height: 600px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg"); background-size: cover; background-position: center;
}
/* Imagine placement  */
.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}
/* Main Content Rules */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
/* shortned benefits to include multiple application */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}
/* Benefit Rules */
.benefit {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/* created new class to group multiple elements under same rules */
.rahim-content { 
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/* Content rules */
.content img {
    max-height: 200px;
}

.content h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/* Footer rules */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h2 {
    font-size: 20px;
}
